.contact-us {
  background-color: var(--red-color);
  padding: 44px 0;
  margin-bottom: 54px;
}
.contact-us__container {
  display: flex;
  justify-content: space-around;
}
.contact-us__tittle {
  margin: 0;
  font-family: var(--font-title);
  color: var(--withe-color);
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 1.16;
}
.contact-us__button .button__text {
  padding: 10px 22px 16px 22px;
  border: 2px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--font-title);
  color: var(--withe-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.31;
  transition: 0.3s all;
  &:hover {
    background-color: var(--gray-color);
    color: var(--black-color);
    border-color: var(--black-color);
  }
}

@include _media-mobile {
  .contact-us {
    padding: 44px 15px;
  }
  .contact-us__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .contact-us__tittle {
    font-size: 25px;
  }
}
