.copyright {
  padding: 0 15px 28px 15px;
}
.copyright__text {
  text-align: center;
  font-family: var(--font-title);
  color: var(--black-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
